<footer class="footer">
    <p class="nombredelgrupofooter">Divitis &copy;2021</p>
    <nav>
        <ul class="equipofooter">
            <li class="itemfooter">
                <a href="#team" alt="team" title="equipo1">Equipo</a>
            </li>
            <li class="itemfooter">
                <a href="#quienesSomos" alt="team" title="equipo1">Quiénes somos</a>
            </li>
            <li class="itemfooter">Contacto</li>
        </ul>
    </nav>
    <img src="./images/logo-adalab.png" alt="logo" class="logoadalab" />
</footer>