<!-- Contacto 
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id neque modi non dolore soluta et nesciunt suscipit vel atque minima quo minus, dicta ratione itaque earum quasi veniam magni rerum. 
    
    Todos los campos marcados con * son obligatorios 
    
    Nombre completo placeholder Nombre...
    Email  placeholder nombre.apellidos@mail.com
    Teléfono  placeholder Ej: 123456789
    Mensaje placeholder ¿Qué necesitas?
    Enviar 
  -->
<main>
    <!--SECCION CONTACTO-->
    <section class="contact">
        <h2>Contacto</h2>

        <p>
            ¿Necesitas ponerte en contacto con nosotros? Puedes rellenar nuestro formulario online para enviar un mensaje a nuestro equipo. Trataremos de responder a tu mensaje en un plazo de 2 días laborables.
        </p>
        <small>Todos los campos marcados con <span class="asterisk">*</span> son
			obligatorios</small
		>
	</section>

	<!--SECCION FORMULARIO-->
	<form action="https://formspree.io/f/mvodwqbk" method="post">
		<fieldset class="formulario">
			<!--Nombre completo-->
			<label for="fullName" class="formulario__label"
				>Nombre completo <span class="asterisk">*</span>
				<input
					class="formulario__label--items"
					placeholder="Nombre..."
					type="text"
					id="fullName"
					name="fullName"
					required
			/></label>
			<div class="formulario__etel">
				<!--correo-->
				<label for="emailAddress" class="formulario__label" id="email"
					>Email <span class="asterisk">*</span>
					<input
						class="formulario__label--items"
						placeholder="nombre@gmail.com"
						type="email"
						id="emailAddress"
						name="emailAddress"
						required
				/></label>

				<!--telefono-->
				<label for="telephone" class="formulario__label" id="tel"
					>Teléfono
					<input
						class="formulario__label--items"
						placeholder="Ej. 123456789"
						type="tel"
						id="telephone"
						name="telephone"
				/></label>
			</div>
			<!--mensaje-->
			<label for="comments" class="formulario__label"
				>Mensaje <span class="asterisk">*</span>
				<textarea
					class="formulario__label--items1"
					placeholder="¿Qué necesitas?"
					id="comments"
					name="comments"
					rows="8"
					cols="80"
					required
				></textarea>
			</label>
			<div class="formulario__container--button">
				<input type="submit" value="Enviar" class="button" />
			</div>
			<!--boton-->
		</fieldset>
	</form>
</main>