<section class="equipo">
    <div class="frase-presentacion"> "Son nuestras decisiones las que muestran quienes somos realmente, más que
        nuestras habilidades."<br>- J. K. Rowling 
    </div>

    <h2 class="equipo-titulo" id="team">Equipo</h2>
    <p class="equipo-parrafo">
        La necesidad de formación es una constante, mientras que en el mundo en que vivimos es incierto, por lo
        que hemos decidido dar un paso al frente y ser dueñas de nuestro destino. Por ello estamos deseando
        conocer este mundo de la programación y hemos decidido
        apostar por una formación con ADALAB. <br> </br>

        Somos un equipo recién constituido para aprender a desarrollar servicios IT, estamos aprendiendo a crear
        soluciones integrales de alto componente tecnológico en front-end, social y humano. Sentimos pasión por
        aprender y mejorar laboralmente.
    </p>

    <div class="cuadrado"></div>

</section>

<section class="fortalezas-debilidades">
    <div class="fortalezas">
        <h3 class="fortalezas-titulo">Fortalezas</h3>
        <p class="fortalezas-debilidades-parrafo">
            A las AdaDIv’S nos define la afán de superación, perseverancia y la curiosidad que son unas de las
            principales fortalezas personales y laborales. Sabemos cuándo afrontar las dificultades y no paramos
            hasta lograr nuestros objetivos. Tenemos recursos necesarios
            para recuperarnos de las caídas y seguir adelante.
        </p>
    </div>

    <div class="debilidades">
        <h3 class="debilidades-titulo">Debilidades</h3>
        <p class="fortalezas-debilidades-parrafo">
            La impaciencia puede ser un rasgo común de todas. Es una debilidad porque expresa la frustración cuando
            los resultados no son inmediatos cuando las cosas y el código no funciona. Pero aquí estamos todas
            juntas para ayudarnos a mejorar como personas y
            poder llegar a ser buenas programadoras. 
        </p>
    </div>
   
    
</section>