/* <----------HEADER-------------> */

.cabecera {
  background-color: #099d8d;
  opacity: 0.9;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 999;
}
.title {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Rubik Mediana, sans-serif;
}

.itemMenu a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
  height: 400px;
}

.nav1 {
  background-color: aqua;
  opacity: 0.9;
  font-weight: bold;
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 16px;
  margin-left: 18px;
  margin-right: 18px;
  text-transform: uppercase;
  font-family: Rubik Mediana, sans-serif;
}

.imagen1 {
  width: 100%;
  height: 400px;
  top: 0;
  position: absolute;
}

.hero {
  position: absolute;
  height: 605px;
  width: 100%;
}
@media all and (min-width: 768px) {
  .cabecera {
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .nav1 {
    background-color: #099d8d;
    justify-content: space-between;
    width: 100%;
  }
  .title {
    display: flex;
    justify-content: flex-start;
    margin-left: 45px;
  }
  .menu {
    display: flex;
    align-items: flex-end;
    margin-right: 45px;
  }
}
